.emptyList {
  display: grid;
  place-items: center;
  gap: 1rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding-top: 4rem;
}

.emptyList p {
  text-align: center;
  color: var(--gray-300);
}