.completeTask,
.incompleteTask {
  display: grid;
  grid-template-columns: 1.125rem 1fr 1.5rem;
  align-items: flex-start;
  gap: 0.75rem;
  background: var(--background-300);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1rem;
}

.completeTask p,
.incompleteTask p {
  font-size: 0.875rem;
}

.completeTask p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.toggleButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.completeTask .toggleButton svg polyline {
  color: var(--gray-100);
}

.completeTask .toggleButton svg circle {
  color: var(--purple-dark);
  opacity: 1;
  transition: color 0.1s;
}

.completeTask .toggleButton:hover svg circle {
  color: var(--purple);
}

.incompleteTask .toggleButton {
  color: var(--blue);
  transition: color 0.1s, opacity 0.1s;
}

.incompleteTask .toggleButton:not(:hover) rect + circle {
  opacity: 0;
}

.incompleteTask .toggleButton:hover {
  color: var(--blue-dark);
}

.deleteButton {
  display: grid;
  place-items: center;
  background: transparent;
  border: 0;
  font-size: 0.875rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.deleteButton:hover {
  color: var(--danger);
  background: var(--hover);
}
